.skills {
  display: flex;
  justify-content: space-between;
  min-height: 240px;
  margin: 30px -24px 40px;
  background-image: url('/grid-texture.png');
  background-repeat: repeat;
  background-size: contain;
  @include xs {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px;
    max-width: 96%;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 24px;
    margin: 0 1vw;
    @include r(1540) {
      margin: 0 5px;
    }
  }

  &__col {
    width: 3vw;
    max-width: 40px;
    background: linear-gradient(180deg, #cc5f7a 0%, #5f64a8 100%);
    @include r(1540) {
      width: 2vw;
    }
    @include md {
      width: 2.5vw;
    }
  }

  &__name {
    position: absolute;
    top: 100%;
    margin-top: 20px;
    font-size: 22px;
    font-size: 1vw;
    width: 78px;
    hyphens: auto;
    text-align: center;
    @include r(1540) {
      width: 57px;
      padding: 0 2px;
    }
    @include md {
      font-size: 15px;
    }
    @include xs {
      transform: rotate(-44deg);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      margin-top: 16px;
      margin-left: 17px;
      font-size: 13px;
    }
  }
}
